.badge {
  display: inline-block;
  padding: .15rem .7rem;
  color: $white;
  text-transform: lowercase;
}

.badge-new {
  background-color: $shoptet-green;
}

.badge-small {
  padding: .1rem .5rem;
  font-size: 80%;
}
