.block-ellipsis {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  height: (2 * $line-height-base * 16px);
  margin: 0 auto;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  p {
    margin-bottom: 0;
  }
}