.fs-90 {
  font-size: 90%;
}

.fs-lg-100 {
  @include media-breakpoint-up(lg) {
    font-size: 100%;
  }
}


.fs-110 {
  font-size: 110%;
}

.fs-115 {
  font-size: 115%;
}

.fs-120 {
  font-size: 120%;
}

.fs-125 {
  font-size: 125%;
}

.fs-130 {
  font-size: 130%;
}

.fs-140 {
  font-size: 140%;
}

.fs-150 {
  font-size: 150%;
}
