.row {
  max-width: none !important; // fix https://github.com/Shoptet/microsite-styles/blob/master/shoptet/_section.scss#L49
}

.row-bordered {

  > [class*="col-"] {

    border-bottom: 1px solid $border-color;

    &:nth-of-type(-n+1) {
      border-top: 1px solid $border-color;
    }

  }
}

.row-bordered-2-columns {
  > [class*="col-"] {

    @include media-breakpoint-up(lg) {
      &:nth-of-type(-n+2) {
        border-top: 1px solid $border-color;
      }

      &:not(:nth-child(2n)) {
        border-right: 1px solid $border-color;
      }
    }

  }
}

.row-bordered-3-columns {
  > [class*="col-"] {

    @include media-breakpoint-up(md) {
      &:nth-of-type(-n+2) {
        border-top: 1px solid $border-color;
      }

      &:not(:nth-child(2n)) {
        border-right: 1px solid $border-color;
      }
    }

    @include media-breakpoint-up(xl) {
      &:nth-of-type(-n+3) {
        border-top: 1px solid $border-color;
      }

      &:not(:nth-child(2n)) {
        border-right: none;
      }

      &:not(:nth-child(3n)) {
        border-right: 1px solid $border-color;
      }
    }

  }
}