.hero {
  padding: 4rem 0;
  background-color: $secondary;
}

.hero-title {
  margin: 0 auto;
  color: $white;
  text-align: center;
  max-width: 32rem;
  font-weight: 200;
}

.hero-form {
  max-width: 45rem;
  margin: 0 auto;
  padding: 3rem 2rem;
  background-color: $white;
  border-radius: $border-radius;

  @include media-breakpoint-only(xs) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    .input-group {

      .input-group-prepend {
        display: none;
      }
      
      .form-control {
        border-radius: $border-radius;
      }
    }

  }
}

.hero-form-action {
  text-align: center;

  .btn {
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    @include media-breakpoint-only(xs) {
      width: 100%;
    }
  }
}
