@import '../../node_modules/owl.carousel/src/scss/owl.carousel';

.owl-carousel {
  &, div {
    max-width: none !important; // fix https://github.com/Shoptet/microsite-styles/blob/master/shoptet/_section.scss#L49
  }

  .owl-stage {
    display: flex; // stretch child items
  }
}

.owl-carousel-bordered {

  .owl-item {
    border: 1px solid rgba($black, .1);
    border-right-width: 0;

    &:first-child {
      border-left-width: 0;
    }
  }

}

.owl-nav {
  font-size: 400%;
}

.owl-prev,
.owl-next {
  position: absolute;
  top: 0;
  width: 20px;
  height: 100%;
  background-color: $secondary-light !important; // hide unwanted borders on left and right sides
  overflow: hidden;
  
  span {
    vertical-align: text-bottom;
    font-weight: 300;
    opacity: .7;
  }

  @include hover-focus {
    span {
      opacity: 1;
    }
  }

  &.disabled span {
    opacity: .07 !important;
  }

}

.owl-prev {
  left: -10px;
}

.owl-next {
  right: -10px;
}