.post-banner {
  display: block;
  padding: 1.25rem;
  border-radius: $border-radius;
  background-color: #f2f2f2;
}

.post-banner-image {
  display: block;

  div {
    width: 75px;
    padding-bottom: 100%;
    background-position: center;
    background-size: cover;
    border-radius: $border-radius;
  }
}
