.wholesaler {
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 0;
  }
}


.wholesaler-block {
  padding-top: 1rem;
  margin-bottom: 1rem;
  border-top: 1px solid $gray-300;
}

.wholesaler-contact {
  position: sticky;
  top: 1rem;
  padding: 1rem;
  border: 1px solid $gray-300;
  border-radius: $border-radius;
  background-color: lighten($shoptet-blue, 47%);

  @include media-breakpoint-up(lg) {
    padding: 1.5rem;
  }
}

.wholesaler-logo {
  float: right;
  position: relative;
  width: 6rem;
  height: 6rem;
  margin-left: .5rem;
  margin-bottom: .5rem;
  background-color: $white;
  border: 1px solid $gray-300;

  @include media-breakpoint-up(lg) {
    width: 8rem;
    height: 8rem;
  }

  // object-fit containt alternative
  img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.wholesaler-tease {
  display: block;
  position: relative;
  height: 100%;
  padding: 1.3rem 1rem;
  color: $body-color;

  @include hover-focus {
    color: $body-color;
    text-decoration: none;
    background-color: lighten($shoptet-blue, 46%);
  }
}

.wholesaler-tease-title {
  font-weight: $font-weight-normal;
  color: $shoptet-blue;
}

.wholesaler-tease-logo {
  position: relative;
  width: 5rem;
  height: 5rem;
  background-color: $white;
  border: 1px solid $gray-300;

  // object-fit containt alternative
  img {
    display: block;
    max-width: 95%;
    max-height: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.wholesaler-tease-logo-empty {
  background-color: $gray-200;
  border-color: $gray-200;
}

.wholesaler-tease-badges {
  position: absolute;
  top: .5rem;
  left: .5rem;
}

.wholesaler-tease-description {
  font-weight: 300;
  color: $body-color;
}
